@import '../../sass/variables';
.home {
  @include row-flex;
  position: relative;
  height: 100vh;
  

  .inner_logo_line.logo_line_rect {
    width: 0;
    transition: width 2s ease-in-out, fill 4s ease-in-out;
    &.active {
      width: 10%;
      fill: #fff;
    }
    &.inner_logo_line_1.active {
      &.active {
        width: 553px;
      }
    }
    &.inner_logo_line_2.active {
      &.active {
        width: 640px;
      }
    }
  }

  .lines {
    transition: all 2s ease-in-out;
    &.active {
      fill: #fff;
      stroke: #fff;
    }
  }

  main {
    @include margin-auto;
    position: relative;
    @include column-flex-fullHeight;

    .wrapper {
      width: 100%;
      display: block;
      position: relative;

      .clipping-paths {
        width: 0;
        height: 0;
        position: absolute;
      }
      .border {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1000;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

 
        @include mq($phone-wide) {
          position: relative!important;
          z-index: 1000;
          height: 70vh;
          width: 100%;
        }
      

        &.active {
          // z-index: -5;
        }

        #meta_svg_link {
          position: absolute;
          height: 50vh;
          width: 50vh;
          left: 25%;
          top: 25%;
        }

        .inner {
          transition: color 0.25s;
          background: transparent;
          border: 0;
          position: relative;
          width: 50vh;
          z-index: -5;
          // height: 50vh;
          height: 8vh;
          vertical-align: middle;

          &::before,
          &::after {
            box-sizing: inherit;
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            // border: 2px solid transparent;
            width: 0;
            height: 0;
          }

          // This covers the top & right borders (expands right, then down)
          &::before {
            top: 0;
            left: 0;
          }

          // And this the bottom & left borders (expands left, then up)
          &::after {
            bottom: 0;
            right: 0;
          }
          &.active {
            color: #333;
            // Hover styles
            &::before,
            &::after {
              width: 100%;
              height: 100%;
            }
            &::before {
              border-top-color: #333; // Make borders visible
              border-right-color: #333;
              transition: width 0.25s ease-out,
                // Width expands first
                  height0.25s ease-out 0.25s; // And then height
            }

            &::after {
              border-bottom-color: #333; // Make borders visible
              border-left-color: #333;
              transition: border-color 0s ease-out 0.5s,
                // Wait for ::before to finish before showing border
                  width0.25s ease-out 0.5s,
                // And then exanding width
                  height0.25s ease-out 0.75s; // And finally height
            }
          }

          svg {
            // top: 120px;
            top: -20px;
            right: -10px;
            position: relative;
            
            -webkit-transform: scale(1.8);
            -ms-transform: scale(1.8);
            transform: scale(1.89) translateX(-0.8rem) translateY(1px);
            opacity: 1;
            transition: all 0.8s ease-in-out;

            @include mq($phone-wide) {
              -webkit-transform: scale(.6);
              -ms-transform: scale(.6);
              z-index: 3000;
            }
       
          }
        }
      }
      .backgroundVideo {
        width: 79vw !important;
        height: 65vh !important;
        overflow: hidden;
        position: relative;
        display: block; margin: auto;
        cursor: url(/icons/maximize.svg), auto;
        opacity: 0;
        transition: opacity 4s ease-in-out;

        
       
        @include mq($phone-wide) {
          // position: fixed!important;
          top: 25vh;
          left: 0;
          // z-index: -1;
          width: 100vw !important;
          height: 50vh !important;
        }
       

        video {
          width: 100% !important;
          margin: auto;
          display: block;
          transition: all .4s ease-in-out;
          display: block;
          transform: scale(1.2);
          filter: saturate(1.2) grayscale(0.7);

          &.launch__full {
            transform: translateX(0%) translateY(0%);
            clip-path: none;
            position: relative;
              z-index: 1001;
          }
        }
        &.fadeIn {
          opacity: 1;
          width: 80vw !important;
          height: 70vh !important;
          overflow: hidden!important;

          @include mq($phone-wide) {
            position: fixed!important;
            top: 25vh;
            left: 0;
            z-index: -1;
            width: 100vw !important;
            height: 50vh !important;
          }

          video {
            transform: scale(1.6) !important;
            width: 100% !important;
            height: 100%!important;
        
          }
          &.launch__full {
            &:after {
              cursor: url(/icons/minimize.svg), auto;
              content: '';
              @include overlay('fixed', 1000);
              background: rgba(0,0,0,0.8);
            
            }
          }
        }
       
      }
    }
  }
}
