.cinderblock_container {
  height: 4vh!important;

  // .horizontal_card_svg_container {
  //   width: 8%;
  //   position: absolute;
  //   right: 0;
  //   height: 5vh!important;
  //   bottom: 35px;
  //   @include column-flex-center;
  // }
  // .vertical_card_svg_container {
  //   width: 8%;
  //   position: absolute;
  //   right: 0;
  //   height: 5vh!important;
  //   bottom: 35px;
  //   @include column-flex-center;
  // }
  #cinderblock {
    margin: auto;
    display: block;
    height: 100%;
    object-fit: contain;
    object-position: center;
    
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
      /* Styles */
      }
      /* Desktops and laptops ----------- */
      @media only screen  and (min-width : 1224px) {
        // height: 30%;
      }
      
      /* Large screens ----------- */
      @media only screen  and (min-width : 1824px) {
      /* Styles */
      }
      
  }
}

