.animated_nav {
  height: 100vh;
  position: fixed;
  z-index: 10;
  width: auto;
  top: 0;
  left: 0;
  .inner {
    height: 100%;
    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      // margin-left: 20px;
      padding: 15px;
      position: relative;
      .slide_out_trigger {
        position: relative; 
        z-index: 20;
      }
      .slide_out {
        transition: all .4s ease-in-out;
        position: absolute;
        height: 0;
        display: flex;
        width: auto;
        margin: 0;
        padding: 30px 0 0;
        flex-direction: column; 
        justify-content: space-around!important;

        .slide_out_item {
          transition: opacity .4s ease-in-out;
          opacity: 0;
          // transform: rotate(-90deg);
          transform-origin: left bottom 0;
          margin: 0;
          display: block;
          text-transform: uppercase;
          width: max-content;
        }

        &.active {
          height: 100vh;
          z-index: 10;

          .slide_out_item {
            opacity: 1;
          }
        }
      }

      &::after {
        // position: absolute;
        // content: '';
        // height: 200px;
        // width: 1px;
        // background: #000;
        // top: 200px;
        // left: 30px;
      }

      li {
        // transform: rotate(-90deg);
        transform-origin: left bottom 0;
        margin: 20px 0;
        text-transform: uppercase;
        width: max-content;

        &.sign_up {
          border-top: 1px solid black;
          border-bottom: 1px solid black;
        }

        &.menu_link {
          position: relative;
        }
     
        a {
          color: inherit;
          text-decoration: none;
          line-height: 3;
        }
      }
    }
  }
}