	
	   #dotMenu, #dotMenuRight {
      width: 50px;
      position: fixed;
      top: 0;
      padding: 20px 0;
      left: 0;
      z-index: 1000;
      height: 100%;
      display: flex;
      flex-direction: column;
      margin: 0;
      background: transparent;
      background-image: none;
      transition: all .8s ease-in;

      a {
        margin: 0 auto;
        position: relative;
        div {
          position: relative;
          opacity: 0.9;
          transition: all .8s ease-in;
          border: 2px solid #333;
         }
         .pin-y {
          transition: all .8s ease-in;
          width: 1.5px;
          background: black;
          height: 150px;
          top: 115px;
          border: none;
         }
        label {
          position: absolute;
          left: 200%;
          color: rgb(172, 169, 169);
          // color: white;
          z-index: 100;;
          top: 0;
          overflow: hidden;
          transition: all .4s ease-in-out;

          &:not(.position_right) {
            &.portfolio {
              text-shadow: 1px 1px -1px rgba(0,0,0,0.9);
  
             &:after {
               content: 'PORTFOLIO';
               position: absolute;
               left: 0;
               color: #333;
               width: 0;
               transition: all .4s ease-in-out;
               top: 0;
               opacity: 0;
             }
           }
           &.process {
              text-shadow: 1px 1px -1px rgba(0,0,0,0.9);
  
             &:after {
               content: 'PROCESS';
               position: absolute;
               left: 0;
               color: #333;
               width: 0;
               transition: all .4s ease-in-out;
               top: 0;
               opacity: 0;
             }
           }
           &.gallery {
             text-shadow: 1px 1px -1px rgba(0,0,0,0.9);
  
             &:after {
               content: 'GALLERY';
               position: absolute;
               left: 0;
               color: #333;
               width: 0;
               transition: all .4s ease-in-out;
               top: 0;
               opacity: 0;
             }
           }
          }
          &.hovering {
            text-shadow: none;
            // color: white;
            &:after {
              opacity: 1!important;
              // font-size: 15px;
            }
          }
        } 
      }

      &:hover {
        a {
           .pin-y {
            transition: all .8s ease-in;
            width: 1.5px;
            background: black;
            height: 150px;
            top: 115px;
            border: none;
           }
        }
      }

      .flex {
        margin-top: 0;
      }
      .selector {
        position: relative;
     
       
        &:hover,
        &.active {
          div {
            position: relative;
            background: black;
            border: 1px solid #333;
            opacity: 1;
           }
        }
      }

      // POSITION RIGHT 
      &.position_right {
        width: 50px;
        position: fixed;
        top: 0;
        padding: 20px 0;
        left: auto;
        right: 0;

        label {
          position: absolute;
          left: -200%;
          // color: rgb(172, 169, 169);
          // color: white;
          z-index: 100;;
          // top: 1px;
          // overflow: visible;
          transition: all .4s ease-in-out;
                  
          svg {
            height: 10px;
            width: 10px;
            color: black;
            position: relative;               
          }
          &.portfolio {
             text-shadow: 1px 1px -1px rgba(0,0,0,0.9);
 
          //   &:after {
          //     content: '';
          //     position: absolute;
          //     left: 10px!important;
          //     background: #333;
          //     width: 10px!important;
          //     height: 2px;
          //     transition: all .4s ease-in-out;
          //     // top: 0;
          //     opacity: 1!important;
          // }
          }
          &.process {
             text-shadow: 1px 1px -1px rgba(0,0,0,0.9);
 
            &:after {
              content: 'PROCESS';
              position: absolute;
              left: 0;
              color: #333;
              width: 0;
              transition: all .4s ease-in-out;
              top: 0;
              opacity: 0;
            }
          }
          &.gallery {
            text-shadow: 1px 1px -1px rgba(0,0,0,0.9);
 
            &:after {
              content: 'GALLERY';
              position: absolute;
              left: 0;
              color: #333;
              width: 0;
              transition: all .4s ease-in-out;
              top: 0;
              opacity: 0;
            }
          }

          &.hovering {
            text-shadow: none;
            color: white;
            &:after {
              opacity: 1!important;
              // font-size: 15px;
            }
          }
        }
      }
    }