.process_card__preview {
  footer {
    background: #fff;
    position: relative;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    .cinderblock_container {
      position: absolute;
      right: 10px;
      top: 0;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      svg {
        height: 20px;
      }
    }
  }
}