// COLORS
$c-base: #444;
$c-dark: #111;
// $c-primary: #6fd1bd;
$c-primary: #f6e6cf;
$c-secondary: #7E9191;
// $c-secondary: #646464;
$b-fontSize: 1.6rem;
$b-lineHeight: 1.5;
$b-animType: ease-in-out;
$b-animSpeed: 0.2s;
// $b-shadowSize: 4px;
$b-shadowSize: 2px;

$Title-color: $c-dark;

.footer {
  position: absolute;
  overflow: hidden;
  height: 105px;
  bottom: 0;
  width: 100%;

  .footer_nav {
    position: absolute;
    height: 205px;
    width: 300px;
    top: 0;
    left: 50%;
    -webkit-transform: translatex(-50%) scale(0);
    -ms-transform: translatex(-50%) scale(0);
    transform: translatex(-50%) scale(0);
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    &.showing {
      transform: translatex(-50%) scale(1) !important;
      .skew {
        -webkit-transform: rotate(0) skew(40deg);
        -ms-transform: rotate(0) skew(40deg);
        transform: rotate(0) skew(40deg);
        &:nth-of-type(2) {
          -webkit-transform: rotate(33deg) skew(40deg);
          -ms-transform: rotate(33deg) skew(40deg);
          transform: rotate(50deg) skew(10deg);
        }

        &:nth-of-type(3) {
          -webkit-transform: rotate(66deg) skew(40deg);
          -ms-transform: rotate(66deg) skew(40deg);
          transform: rotate(130deg) skew(40deg);
        }
      }
    }
    .container {
      position: relative;
      top: 51.5%;
      z-index: 3000;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 200px;
      height: 203px;
      border-radius: 50%;
      border: 1px solid #000;
      overflow: hidden;
      border: 2px solid #000;

      p {
        position: absolute;
        transition: all 0.4s ease-in-out;
        font-size: 8px;
        letter-spacing: 2px;
        font-weight: 700;
        text-transform: uppercase;
        font-family: N-Light;
        color: #fff;
        svg {
          height: 15px;
          width: 15px;
        }
        &.hovering {
          color: black;
        }
        cursor: pointer;
        &:first-of-type {
          top: 70px;
          left: 25px;
          transform: rotate(0);
        }
        &:nth-of-type(2) {
          top: 15px;
          left: 92px;
          transform: rotate(0deg);
        }
        &:nth-of-type(3) {
          top: 70px;
          left: 155px;
          /* bottom: 0; */
          -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          transform: rotate(0deg);
        }
      }
    }
    .skew {
      transition: all 0.4s ease-in-out;
      width: 200px;
      height: 100px;
      border-left: 1px solid $c-primary;
      border-bottom: 1px solid $c-primary;
      position: absolute;
      top: 0;
      right: 50%;
      transform-origin: right bottom;
      transition: 0.4s ease-in-out;
      cursor: pointer;
      background-color: #000;
      &:hover {
        background-color: $c-primary;
      }
      &:last-of-type {
        border-right: 1px solid #f6e6cf;
      }
    }


  }
  .burger {
    width: 50px;
    height: 50px;
    position: absolute;

    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
    left: 50%;
    bottom: 0px;
    -webkit-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    transform: translatex(-50%);
    cursor: pointer;
    color: whitesmoke;
    -webkit-box-shadow: 0px 0px 20px #000;
    box-shadow: 0px 0px 20px #000;
    background-color: #fff;

    &.heartbeat {
      -webkit-animation: heartbeat 3s ease-in-out infinite both;
              animation: heartbeat 3s ease-in-out infinite both;
    }

    .cinderblock_container {
      padding: .2rem;
      svg {
        width: 100%;
        fill: #000;
        object-fit: cover;
        height: 100%;
      }
    }
  }

  &.launch__full {
    .footer_nav {
      z-index: 1001;

      p {
        &:first-of-type {
          top: 70px;
          left: 35px;
          transform: rotate(0);
        }
        &:nth-of-type(2) {
          top: 20px;
          left: 120px;
          transform: rotate(0deg);
        }
        &:nth-of-type(3) {
          top: 70px;
          left: 140px;
          /* bottom: 0; */
          -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          transform: rotate(0deg);
        }
        svg {
        }
      }
    }
    .burger {
      z-index: 1001;
    }
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2018-8-21 16:30:2
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
 @-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1) translatex(-50%);
            transform: scale(1) translatex(-50%);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91) translatex(-50%);
            transform: scale(0.91) translatex(-50%);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98) translatex(-50%);
            transform: scale(0.98) translatex(-50%);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87) translatex(-50%);
            transform: scale(0.87) translatex(-50%);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1) translatex(-50%);
            transform: scale(1) translatex(-50%);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1) translatex(-50%);
            transform: scale(1) translatex(-50%);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91) translatex(-50%);
            transform: scale(0.91) translatex(-50%);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98) translatex(-50%);
            transform: scale(0.98) translatex(-50%);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87) translatex(-50%);
            transform: scale(0.87) translatex(-50%);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1) translatex(-50%);
            transform: scale(1) translatex(-50%);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
