@import "../../sass/variables";

.footer {
  position: fixed;
  overflow: hidden;
  height: 105px;
  bottom: 0;
  width: 80vw;
  z-index: 3000;

  @include mq($phone-wide) {
    width: 100vw;
  }

  .footer_nav {
    position: absolute;
    height: 205px;
    width: 300px;
    top: 0;
    left: 50%;
    -webkit-transform: translatex(-50%) scale(0);
    -ms-transform: translatex(-50%) scale(0);
    transform: translatex(-50%) scale(0);
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    &.showing {
      transform: translatex(-50%) scale(1) !important;
      .skew {
        -webkit-transform: rotate(0) skew(40deg);
        -ms-transform: rotate(0) skew(40deg);
        transform: rotate(0) skew(40deg);
        &:nth-of-type(2) {
          -webkit-transform: rotate(33deg) skew(40deg);
          -ms-transform: rotate(33deg) skew(40deg);
          transform: rotate(50deg) skew(10deg);
        }

        &:nth-of-type(3) {
          -webkit-transform: rotate(66deg) skew(40deg);
          -ms-transform: rotate(66deg) skew(40deg);
          transform: rotate(130deg) skew(40deg);
        }
      }
    }
    .container {
      position: relative;
      top: 51.5%;
      z-index: 3000;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 200px;
      height: 203px;
      border-radius: 50%;
      border: 1px solid #000;
      overflow: hidden;
      border: 2px solid #000;

      p {
        position: absolute;
        transition: all 0.4s ease-in-out;
        font-size: 8px;
        letter-spacing: 2px;
        font-weight: 700;
        text-transform: uppercase;
        font-family: N-Light;
        color: #fff;
        svg {
          height: 15px;
          width: 15px;
        }
        &.hovering {
          color: black;
        }
        cursor: pointer;
        &:first-of-type {
          top: 70px;
          left: 25px;
          transform: rotate(0);
        }
        &:nth-of-type(2) {
          top: 15px;
          left: 92px;
          transform: rotate(0deg);
        }
        &:nth-of-type(3) {
          top: 70px;
          left: 155px;
          /* bottom: 0; */
          -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          transform: rotate(0deg);
        }
      }
    }
    .skew {
      transition: all 0.4s ease-in-out;
      width: 200px;
      height: 100px;
      border-left: 1px solid $c-primary;
      border-bottom: 1px solid $c-primary;
      position: absolute;
      top: 0;
      right: 50%;
      transform-origin: right bottom;
      transition: 0.4s ease-in-out;
      cursor: pointer;
      background-color: #000;
      @include minMq($tablet) {
        &:hover {
          background-color: $c-primary;
        }
      }

      &:last-of-type {
        border-right: 1px solid #f6e6cf;
      }
    }
  }
  .burger {
    width: 50px;
    height: 50px;
    position: fixed;
    @include column-flex-center;
    border-radius: 50%;
    left: 50%;
    z-index: 3000;
    bottom: 10px;
    -webkit-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    transform: translatex(-50%);
    cursor: pointer;
    color: whitesmoke;
    -webkit-box-shadow: 0px 0px 20px #000;
    box-shadow: 0px 0px 20px #000;
    background-color: #000;
    transition: bottom 0.3s ease-in-out, border 0.4s ease-in-out;

    svg {
      width: 100%;
      fill: #fff;
      // object-fit: contain;
      height: 2.75vh;
      padding: 2px;
      path {
        fill: #fff !important;
      }
    }

    &.showing {
      will-change: border, bottom;
      border: 1px solid white;
      bottom: 0px;
      svg {
      }
    }
  }

  &.launch__full {
    .footer_nav {
      z-index: 1001;

      p {
        &:first-of-type {
          top: 70px;
          left: 35px;
          transform: rotate(0);
        }
        &:nth-of-type(2) {
          top: 20px;
          left: 120px;
          transform: rotate(0deg);
        }
        &:nth-of-type(3) {
          top: 70px;
          left: 140px;
          /* bottom: 0; */
          -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          transform: rotate(0deg);
        }
      }
    }
    .burger {
      z-index: 1001;
    }
  }
}
