.portfolio_card__details {
  display: flex;

  display: flex;
  width: 100%;
  height: 10%;
  padding-left: 1.5rem;
  @include mq($tablet-wide-2) {
    height: 7%;
    padding-left: 1rem;
  }
  @include mq($tablet-wide) {
  }

  @include mq($tablet) {
  }

  @include mq($phone-wide) {
    height: 15%;
    padding-left: 0.5rem;
  }

  .portfolio_card__footer {
    width: 70%;
    position: relative;
    @include mq($tablet-wide-2) {
    }
    @include mq($tablet) {
      width: 50%;
    }
    &:after {
      content: "";
      left: 0;
      top: 50%;
      position: absolute;
      width: 100%;
      height: 1.5px;
      background: #000;
    }
    &.process_true {
    }
    &.process_false {
      width: -webkit-fill-available;
    }
  }
} // End of details/footer
.corner_icon {
  width: 3rem; // Corresponding border from card-inner must have half teh padding on the right
  height: 100%;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @include mq($tablet-wide-2) {
    width: 2.25rem;
  }
  @include mq($tablet-wide) {
  }

  @include mq($tablet) {
  }
  @include mq($phone-wide) {
    width: 2rem;
  }
  svg {
    height: 3vh;
    vertical-align: baseline;
    @include mq($tablet) {
      height: 2.75vh;
    }
    @include mq($phone-wide) {
      height: 2vh;
    }
  }
}

.vertical {
  .portfolio_card__details {
    padding-left: 1rem;
  }
}
