
.portfolio_card__details {
  display: flex;
  justify-content: space-between;
  padding-left: 1.5rem;

  .portfolio_card__footer {
    width: 70%;
    position: relative;
    &:after {
      content: '';
      left: 0;
      top: 15px;
      position: absolute;
      width: 100%;
      height: 1.5px;
      background: #000;
    }
    &.process_true {

    }
    &.process_false {
      width: -webkit-fill-available;
    }
  }
  .view_process_button {
    width: 30%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding: 0 15px;
    svg {
      height: 3vh;
    }
    .button__link {
      position: relative;
      font-size: 0.5rem;
      letter-spacing: 2px;
      font-weight: 700;
      color: rgb(51, 51, 51);
      text-transform: capitalize;
      font-family: N-Black;
      margin-right: 20%;
      vertical-align: middle;
      text-shadow: $b-shadowSize $b-shadowSize 0 $c-primary;
      transition: text-shadow $b-animSpeed $b-animType;
      

      &:hover {
        text-shadow: (-$b-shadowSize) (-$b-shadowSize) 0 $c-secondary;
      }
      @include mq($desktop) {
        font-size: 0.4rem;
        vertical-align: super;

      }
    }

    &.not_process_item {
      width: auto;
    }
  }

} // End of details/footer
