// COLORS
$c-base: #444;
$c-dark: #111;
$c-primary: #f6e6cf;
$c-secondary: #7e9191;

// COLORS
// COLORS
$c-base: #333;
$c-dark: #000;
$c-accent: #f6e6cf;
$c-secondary: #7e9191;

$b-fontSize: 1.6rem;
$b-lineHeight: 1.5;
$b-animType: ease-in-out;
$b-animSpeed: 0.2s;
$b-shadowSize: 2px;
$Title-color: $c-dark;

// FONTS
$font-primary: "N-Black";
$font-secondary: "N-Light";

// font sizes
$h--1: (
  base: rem(30px),
  tablet: rem(36px),
  desktop: rem(44px)
);
$h--2: (
  base: rem(26px),
  tablet: rem(30px),
  desktop: rem(36px)
);
$h--3: (
  base: rem(22px),
  tablet: rem(26px),
  desktop: rem(30px)
);
$h--4: (
  base: rem(20px),
  tablet: rem(22px),
  desktop: rem(26px)
);
$h--5: (
  base: rem(18px),
  tablet: rem(20px),
  desktop: rem(22px)
);
$h--6: (
  base: rem(16px),
  tablet: rem(18px),
  desktop: rem(20px)
);

$p: rem(16px);
$p--small: rem(12px);
$p--medium: rem(18px);
$p--large: rem(24px);

// line-height ratios
$lh: 1.5;
$lh--x-small: 1.1;
$lh--small: 1.25;
$lh--large: 1.75;

// MARGINS
@mixin margin-auto {
  margin: auto;
  display: block;
}

// BASIC SPACING
$spacing-unit: rem(20px);
$spacing-unit--x-small: rem(10px);
$spacing-unit--small: rem(15px);
$spacing-unit--medium: rem(30px);
$spacing-unit--large: rem(40px);
$spacing-unit--x-large: rem(60px);
$rel-spacing-unit: 1em;
$rel-spacing-unit--small: 0.5em;

// FLEX FLEX YALL
@mixin column-flex-screenHeight {
  height: 100vh;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@mixin overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

@mixin fixed-overlay {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 1000;
}

@mixin overlay($position, $zIndex) {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: $position;
  z-index: $zIndex;
}
@mixin column-flex {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@mixin column-flex-evenly {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
@mixin column-flex-center {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  flex-direction: column;
  display: -ms-flexbox;
  align-items: center;
}
@mixin column-flex-start {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  display: -ms-flexbox;
  justify-content: flex-start;
  align-items: center;
}
@mixin column-flex-fullHeight {
  height: 100%;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@mixin row-flex {
  // write the css here
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: hidden;
}

@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

@mixin rotate($deg) {
  @include transform(rotate(#{$deg}deg));
}

@mixin translate($x, $y) {
  @include transform(translate($x, $y));
}

// MEDIA QUERIES
$phone--xs-small: 320px;
$phone-small: 375px;
$phone: 400px;
$phone-wide: 480px;
$phablet: 560px;
$tablet-small: 640px;
$tablet: 770px;
$tablet-wide-2: 915px;
$tablet-wide: 1024px;
$macbook-air: 1152px;
$desktop: 1282px;
$desktop-wide: 1440px;
$desktop-wide-2: 1600px;
$desktop-up: 1650px;

@mixin mq($width) {
  @media only screen and (max-width: $width) {
    @content;
  }
}
@mixin minMq($width) {
  @media only screen and (min-width: $width) {
    @content;
  }
}
@mixin menu-link {
  font-size: 0.55rem;
  letter-spacing: 2px;
  font-weight: 700;
  color: rgb(51, 51, 51);
  font-family: $font-primary;
  margin: 20px 0;
  text-align: left;

  @include mq($desktop) {
    font-size: 0.4rem;
  }
}

@mixin link-style {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    width: 150%;
    height: 2px;
    border-bottom: 2px solid #333;
    bottom: -3px;
    animation: out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
  }
}

@mixin link-style-hover {
  &:before {
    animation: in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
  }
}

@mixin page-title-style {
  text-align: center;
  text-transform: uppercase;
  font-size: 55px;
  letter-spacing: 4px;
  position: relative;
  // top: 20px;

  @include mq($desktop) {
    font-size: 45px;
    top: 10px;
  }
  @include mq($phone-wide) {
    font-size: 30px;
    top: 30px;
  }
  @include mq($phone) {
    font-size: 20px;
  }
}

@keyframes in {
  0% {
    width: 0;
    left: 0;
    right: auto;
  }
  100% {
    left: 0;
    right: auto;
    width: 100%;
  }
}
@keyframes out {
  0% {
    width: 100%;
    left: auto;
    right: 0;
  }
  100% {
    width: 0;
    left: auto;
    right: 0;
  }
}
@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@for $i from 1 through 5 {
  nav a:nth-child(#{$i}) {
    animation: show 0.2s #{$i * 0.1+1}s ease 1 both;
  }
}
