#mobile_menu_sidebar {
  background: #000;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 3001 !important;
  position: fixed;
  padding: 0 20px 10px;
  .mobile_menu_close {
    position: absolute;
    top: 0;
    right: 5px;
  }

  header {
    padding: 40px 10px 10px;
    border-bottom: 1px solid white;
    position: relative;

    .mobile_logo {
      display: block;
      margin: auto;
      fill: #fff;
    }
  }
  ul {
    margin: auto;
    display: block;
    transform: translateX(-30vw);
    li {
      text-shadow: none !important;
    }
  }
  footer {
    padding-top: 10px;
    border-top: 1px solid white;
    p {
      text-align: center;
      font-size: 0.4rem;
    }
  }
}
