
.left_nav {
  height: 100%;
  position: fixed;
  z-index: 10;
  width: auto;
  top: 0;
  left: 0;
  .inner {
    @include column-flex;
    // justify-content: space-between;
    height: 100%;
    width: 10vw;
    @include mq($phone-wide) {
      width: 20vw;
    }
    .top {
      padding-left: 0;
      height: 15vh;
      @include column-flex;
      

      li {
        @include column-flex-fullHeight;
      }
    }
    .middle {
      flex-basis: 70%;
      height: auto;
      list-style: none;
      padding-top: 2rem;
      @include column-flex-start;

    }
    .bottom {
      height: 15vh;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      justify-content: center;
      position: relative;
      background: transparent;
      align-items: center;
  
    }
  }
}
