$c-base: #444;
$c-dark: #111;
// $c-primary: #6fd1bd;
$c-primary: #f6e6cf;
$c-secondary: salmon;
// $c-secondary: #646464;
$b-fontSize: 1.6rem;
$b-lineHeight: 1.5;
$b-animType: ease-in-out;
$b-animSpeed: 0.2s;
// $b-shadowSize: 4px;
$b-shadowSize: 2px;

$Title-color: $c-dark;

$dark-gray: #3c3c3c;
$light-gray: #a6a6a6;
$UIblue: #3cbbf7;
$UIred: #e74c3c;
$UIyellow: #f8e71c;
$UIgreen: #13bf11;
$dark-brown: #542900;

.menu {
  height: 100%;
  position: fixed;
  z-index: 10;
  width: auto;
  top: 0;
  left: 0;
  .inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 10vw;
    .top {
      padding-left: 0;
      height: 15vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      li {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .cinderblock_container {
          height: 30%;
          @media only screen  and (min-width : 1224px) {
            height: 35%;
          }
          svg {
            margin: auto;
            display: block;
            height: 100%;
            object-fit: cover;
            object-position: center;
            @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
              /* Styles */
              }
              /* Desktops and laptops ----------- */
              @media only screen  and (min-width : 1224px) {
                // height: 30%;
              }
              
              /* Large screens ----------- */
              @media only screen  and (min-width : 1824px) {
              /* Styles */
              }
              
          }
        }
      }
    }
    .bottom {
      flex-basis: 70%;
      height: auto;
      list-style: none;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      justify-content: flex-start;
      width: auto;
      padding: 0 25px 25px 30px;
      position: relative;
      align-items: center;

      @media only screen  and (min-width : 1224px) {
        // font-size: .8rem;
      }
      li:not(.cinder_logo_link) {
        // font-size: 1rem;
        letter-spacing: 2px;
        font-weight: 700;
        color: rgb(51, 51, 51);
        font-family: N-Black;
        margin: 40px 0;
        width: max-content;
        text-align: right;

        @media only screen  and (min-width : 1224px) {
          font-size: .65rem;
        }
        
        a {
          color: inherit;
          text-decoration: none;
          .u-shadow {
            text-shadow: $b-shadowSize $b-shadowSize 0 $c-primary;
            transition: text-shadow $b-animSpeed $b-animType;
          }

          &:hover {
            .u-shadow {
              text-shadow: (-$b-shadowSize) (-$b-shadowSize) 0 $c-secondary;
            }
          }
        }
      }
    }
  }
}
