@import "../../../../sass/variables";

.five_row_grid_container {
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
  @include mq($tablet) {
    display: flex !important;
  }
  .blueprint,
  .before,
  .after {
    height: 80vh;
    @include mq($tablet) {
      display: flex !important;
      height: auto !important;
    }
  }

  .blueprint {
    grid-column: span 6 / auto;
    height: 95%;
    img {
      margin-top: 40px;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
      @include mq($tablet) {
        width: -webkit-fill-available;
        -o-object-fit: cover;
        transform: rotate(90deg);
        object-fit: scale-down;
      }
    }

    @include mq($tablet) {
      grid-column: span 12 / auto;
      overflow: hidden;
    }
  }

  .before {
    grid-column: span 3 / auto;
    display: flex;
    flex-direction: column;
    .img__wrapper {
      height: 20%;
      width: 100%;
      margin-top: 10px;
      &:nth-of-type(1) {
        margin-top: 0px;
      }

      img {
        object-fit: contain;
        height: 100%;
        width: 100%;
      }
    }
    @include mq($tablet) {
      grid-column: span 6 / auto;
    }
  }

  .after {
    grid-column: span 3 / auto;
    display: flex;
    flex-direction: column;
    .img__wrapper {
      height: 20%;
      width: 100%;
      margin-top: 10px;
      &:nth-of-type(1) {
        margin-top: 0px;
      }

      img {
        object-fit: contain;
        height: 100%;
        width: 100%;
      }
    }
    @include mq($tablet) {
      grid-column: span 6 / auto;
    }
  }
}
