@import '../../sass/variables';
.right_nav {
  z-index: 10;
  width: 10vw;
  bottom: 0;
  top: 0;
  height: 100%;
  right: 0;
  position: fixed;

  @include mq($phone-wide) {
    width: 20vw;
  }
  }
  .inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    ul {
      list-style: none;
      @include column-flex-center;
      padding: 0;
      width: 100%;
      // align-items: flex-end;

      &.top {
        @include column-flex-center;
        height: 15vh;
        padding: 0;

        li {
          position: relative;
          font-size: 1rem;
          letter-spacing: 2px;
          font-weight: 700;
          color: rgb(51, 51, 51);
          font-family: $font-primary;
          @include column-flex-fullHeight;

          svg {
            display: block;
            margin: auto;
            height: 5.5vh !important;
          }

          .contact-burgerIcon {
            position: relative;
            cursor: pointer;
            height: auto;
            width: 20px;
            margin: auto;
            transition: transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) 0s,
              opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
      
            span {
              position: relative;
              display: block;
              width: 100%;
              height: 1.5px;
              background-color: #1a1a1a;
              transform-origin: center;
              transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
            }
      
            span:first-child {
              transform: translate(0, -3px);
            }
            span:last-child {
              transform: translate(0, 3px);
            }
          
            &.open {
              span:first-child {
                transform: translate(0, -3px) rotate(45deg);
              }
              span:last-child {
                transform: translate(-1px, -4px) rotate(-45deg);
              }
            }
           
          }

          &:hover {
            .contact-burgerIcon {
              span:first-child {
                transform: translate(0, -3px) rotate(45deg);
              }
              span:last-child {
                transform: translate(-1px, -4px) rotate(-45deg);
              }
            }
           
          }

          .properties_text {
            position: relative;
            top: 50px;
            right: 3px;
            cursor: pointer;
            letter-spacing: 2px;
            color: #333333;
            font-family: $font-primary;
            @include menu-link;
            @include link-style;
            transition: all 0.4s ease-in-out;
            transform: rotate(90deg);
            text-align: right!important;

            @include mq($tablet-wide-2) {
              top: 25px;
            }
            &:hover {
              @include link-style-hover;
            }
            &.open {
              opacity: 0;
              top: 0px;
            } 
          }
        }
      }

      &.bottom {
        height: 15vh;
        background: #000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px 20px 0 10px;
        position: relative;
        z-index: 2000;
        align-items: center;
        text-align: right;
        @include mq($phone-wide) {
          padding: 10px 10px 0;
        }
        @include mq($tablet-wide-2) {
          padding: 10px 10px 0;
        }
        li {
          font-size: 0.4rem !important;
          letter-spacing: 3px;
          font-weight: 700;
          text-transform: uppercase;
          font-family: N-Light;
          margin: 0;
          width: 100% !important;
          color: #fff;
          line-height: 2;
          @include mq($tablet-wide-2) {
            font-size: 0.3rem !important;
          }
          // @include mq($macbook-air) {
          //   font-size: 0.4rem !important;
          // }
        }
      }
    }
  }

