$c-base: #444;
$c-dark: #111;
$c-primary: #6fd1bd;
// $c-primary: #ddd;
$c-secondary: salmon;

$b-fontSize: 1.6rem;
$b-lineHeight: 1.5;
$b-animType: ease-in-out; 
$b-animSpeed: 0.2s;
// $b-shadowSize: 4px;
$b-shadowSize: 2px;

$Title-color: $c-dark;

.right_nav {
  
  z-index: 10;
  width: 10vw;
  bottom: 0;
  top: 0;
  height: 100%;
  right: 0;
  position: fixed;
  .inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 25px;
      
      li {
        font-size: 13px;
        letter-spacing: 2px;
        font-weight: 700;
        color: #333333;
        font-family: N-Black;
        margin: 0;
        width: 100%;
        text-align: right;
        line-height: 2;

        svg {
          margin: 10px auto;
          width: 100%;
          height: 35px;
        }

        .u-shadow {
          text-shadow: $b-shadowSize $b-shadowSize 0 $c-primary;
          transition: text-shadow $b-animSpeed $b-animType;
        }

        &:hover {
          .u-shadow {
            text-shadow: (-$b-shadowSize) (-$b-shadowSize) 0 $c-secondary;
          }

      }
    }
  }
}
}