$c-base: #444;
$c-dark: #111;
// $c-primary: #6fd1bd;
$c-primary: #f6e6cf;
$c-secondary: salmon;
// $c-secondary: #646464;
$b-fontSize: 1.6rem;
$b-lineHeight: 1.5;
$b-animType: ease-in-out;
$b-animSpeed: 0.2s;
// $b-shadowSize: 4px;
$b-shadowSize: 2px;

$Title-color: $c-dark;
@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

@mixin rotate($deg) {
  @include transform(rotate(#{$deg}deg));
}

@mixin translate($x, $y) {
  @include transform(translate($x, $y));
}
.right_nav {
  z-index: 10;
  width: 10vw;
  bottom: 0;
  top: 0;
  height: 100%;
  right: 0;
  position: fixed;
  .inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 25px;
      width: 100%;
      align-items: flex-end;

      &.top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        li {
          position: relative;
          font-size: 13px;
          letter-spacing: 2px;
          font-weight: 700;
          color: rgb(51, 51, 51);
          font-family: N-Black;

          svg {
            height: 8vh;
            display: block;
            margin: auto;
          }

          .u-shadow {
            text-shadow: $b-shadowSize $b-shadowSize 0 $c-primary;
            transition: text-shadow $b-animSpeed $b-animType;
          }

          &:hover {
            .u-shadow {
              text-shadow: (-$b-shadowSize) (-$b-shadowSize) 0 $c-secondary;
            }
          }
          #contact-btn-container {
            display: block;
            height: 60px;
            width: 60px;
            position: relative;
            //  position: fixed;
            //  top: 20px;
            //  right: 20px;

            .text {
              font-family: sans-serif;
              text-align: center;
              margin: 40px 0;
              width: max-content;
              position: absolute;
              bottom: -100px;
              transform: rotate(90deg);
            }

            .line {
              transition: all 0.4s ease-in-out;
              display: block;
              position: absolute;
              background-color: black;
              height: 3px;
              width: 30px;
              transition: all 0.7s;
              bottom: 20px;
              left: 15px;
            }

            .line01 {
              transition: all 0.4s ease-in-out;
              transform-origin: 0 0;
              @include rotate(-60);
            }

            .line02 {
              transition: all 0.4s ease-in-out;
              transform-origin: 100% 100%;
              @include rotate(60);
            }

            .line01-active {
              transition: all 0.4s ease-in-out;
              margin-left: 4px;
              @include rotate(-45);
            }

            .line02-active {
              transition: all 0.4s ease-in-out;
              margin-left: -4px;
              @include rotate(45);
            }

            .line03-active {
              transition: all 0.4s ease-in-out;
              margin-bottom: 40px;
              background-color: rgba(255, 255, 255, 0);
            }

            &:hover {
              letter-spacing: 0.8px;
              .line01 {
                @include rotate(0);
              }

              .line02 {
                @include rotate(0);
              }

              .line01-active {
                @include rotate(0);
              }

              .line02-active {
                @include rotate(0);
              }

              .line03-active {
              }
            }
          }
        }
      }

      &.bottom {
        height: 15vh;
        background: #000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 25px;
        align-items: center;
        li {
          font-size: 10px!important;
          letter-spacing: 3px;
          font-weight: 700;
          text-transform: uppercase;
          font-family: N-Light;
          margin: 0;
          width: 100% !important;
          text-align: center!important;
          color: #fff;
          
          line-height: 2;
        }
      }
    }
  }
}
