@import "../../sass/variables";

#mobile_sidebar_menu {
  // background: #fff;

  background: transparent;
  width: 50vw;
  overflow-x: hidden;
  overflow-y: scroll;
  border-top: 2px solid black;
  z-index: 3000;
  border-top: none;
  &::after {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    position: absolute;
    height: 200vh;
    width: 100%;
    z-index: -1;
    overflow-y: scroll;
    content: "";
    top: 10vh;
  }

  ul {
    @include column-flex-evenly;
    align-items: flex-end !important;
    padding: 20px 5px 20px;
    position: relative;
    @include mq($tablet) {
      padding: 0;
    }
    .menu_link.sidebar_link {
      &.back_to_top {
        top: 0;
        left: 0;
        width: 100%;
        text-align: right;
        z-index: 2000;
        margin: 0;

        position: sticky;
        background: white;

        padding: 20px 10px 20px;
        border-bottom: 1px solid #eee;
        box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.3);

        @include mq($tablet-wide) {
          text-align: center;
          padding: 0 !important;
          height: 10vh;
          background: transparent;
          display: flex;
          box-shadow: none;
          border-bottom: none;
        }

        .left_side {
          @include mq($tablet-wide) {
            background: black;
            width: stretch;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: white;
          }
        }
        .close_menu_side {
          @include mq($tablet-wide) {
            width: 12vw;
            // position: relative;
            // display: flex;
            // flex-direction: column;
            // justify-content: center;
            background: transparent;
          }
          @include mq($phone-wide) {
            width: 25vw;
          }
        }
      }
      &:nth-of-type(2) {
        margin-top: 60px;
      }
      cursor: pointer;
      @include mq($desktop) {
        font-size: 0.35rem;
        padding: 5px;
      }
      @include mq($tablet-wide) {
        width: 100%;
        width: 100%;
        /* margin: 10px 20px; */
        display: block;
        border-bottom: 2px solid #eee;
        text-align: left !important;
        padding-left: 50px !important;
        position: relative;

        // background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
      }
    }
  }
}
