@import '../../sass/variables';

.menu_link {
  @include menu-link;
  @include link-style;
  // @include mq($phone-wide) {
  //   font-size: 0.65rem;
  // }
  // @include mq($macbook-air) {
  //   font-size: 0.65rem;
  // }
  &.contact__link {
    color: rgb(51, 51, 51)!important;
    font-family: $font-primary;
    font-size: 0.55rem;
    // font-size: 0.75rem;
    // letter-spacing: 2px;
    // font-weight: 700;
    // color: rgb(51, 51, 51);
    // font-family: $font-primary;
    .u-shadow {
      @include link-style;
      font-size: 0.55rem;
    }
    @include link-style;

    .contact_text {
      font-family: $font-primary;
      color: rgb(51, 51, 51)!important;
      transform: rotate(-90deg) translate(60px, 3px);
      @include link-style;
      font-size: 0.55rem;
      text-transform: capitalize;
      bottom: 20px;
      position: relative;
     
    }
    .contact-burgerIcon {
      position: relative;
      // bottom: -200%;
      height: auto;
      width: 20px;
      margin: auto;
      transition: transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) 0s,
        opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;

      span {
        position: relative;
        display: block;
        width: 100%;
        height: 1.5px;
        background-color: #1a1a1a;
        transform-origin: center;
        transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
      }

      span:first-child {
        transform: translate(0, -3px);
      }
      span:last-child {
        transform: translate(0, 3px);
      }
      &.hovering {
        span:first-child {
          transform: translate(0, -3px) rotate(45deg);
        }
        span:last-child {
          transform: translate(-1px, -4px) rotate(-45deg);
        }
      }
    }
  }
  a {
    color: inherit;
    text-decoration: none;
    .u-shadow {
      @include link-style;
    }

    &:hover {
      .u-shadow {
        @include link-style-hover;
      }
    }
  }
  &.sidebar_link {
    // width: max-content!important;
    text-align: right !important;
    width: 100%;

  }
}