@import "../../sass/variables";

.menu_link {
  @include menu-link;
  @include link-style;
  a {
    color: inherit;
    text-decoration: none;
    .u-shadow {
      @include link-style;
    }

    &:hover {
      .u-shadow {
        @include link-style-hover;
      }
    }
  }
  &.sidebar_link:not(.back_to_top) {
    position: relative;
    text-align: right !important;
    width: min-content;
    @include link-style;
    padding: 0 0 5px !important;

    &.active {
      @include link-style-hover;
    }
  }
  &.mobile_sidebar_link {
    color: white !important;
    text-shadow: none;
  }
}
