@import "../../sass/variables";

.gallery.component.gallery_component {
  -webkit-animation: fadeAllIn 2s;
  animation: fadeAllIn 2s;

  section.wrapper {
    width: 85%;
    margin: auto;
    height: 100%;

    position: relative;

    .thumb__scroller {
      padding: 50px 0 100px !important;
      height: 100%;
      clear: both;
      overflow: scroll;

      .grid__item__thumb {
        height: 200px;
        width: 23%;
        margin: 1%;
        float: left;
        position: relative;
        overflow: hidden;

        img {
          object-fit: cover;
          height: 100%;
          width: 100%;
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2),
            0 10px 7px rgba(0, 0, 0, 0.1);
        }

        &.venture_thumb {
          background: #fff;
          img {
            padding: 20px;
            object-fit: contain !important;
          }
        }

        @include mq($phone) {
        }
        @include mq($phone-wide) {
        }
        @include mq($phablet) {
        }
        @include mq($tablet-small) {
        }
        @include mq($tablet) {
        }
        @include mq($tablet-wide) {
        }
        @include mq($desktop) {
        }
        @include mq($desktop-wide) {
          // max-height: 200px;
          // height: 100%;
          // max-width: 200px;
          // width: 100%;
        }

        .overlay__inner_container {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background: rgba(0, 0, 0, 0.5);
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-content: center;
          transition: all 0.4s ease-in-out;
          opacity: 0;

          .inner {
            padding: 20px;

            h3 {
              color: white;
              text-align: center;
              margin: 20px 0 10px;
              font-size: 0.8rem;
              font-weight: bolder;
              text-transform: uppercase;
              letter-spacing: 2px;
              font-family: $font-secondary;
              @include mq($tablet-wide-2) {
                font-size: 0.6rem;
              }
            }
            p {
              // font-size: 0.8rem;
              line-height: 1.2;
              font-family: $font-secondary;
              -webkit-transition: all 0.4s ease-in-out;
              -o-transition: all 0.4s ease-in-out;
              transition: all 0.4s ease-in-out;
              font-weight: 400;
              letter-spacing: 1px;
              text-align: center;
              color: #fff;
            }
          }
        }

        &:hover {
          .overlay__inner_container {
            -webkit-animation: slide-in-fwd-center 0.4s
              cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
            animation: slide-in-fwd-center 0.4s
              cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          }
        }

        .gallery_video {
          width: 100% !important;
          height: 100% !important;
          overflow: hidden !important;

          video {
            // box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 10px 7px rgba(0, 0, 0, 0.1);
            object-fit: cover !important;
            object-position: center !important;
            height: 100%;
            width: 100%;
          }
        }

        &.landscape {
          height: auto !important;
          min-height: 0;
          background: transparent;
        }

        &.video_thumb:not(.img_thumb) {
          &:first-of-type {
            min-height: 411px;

            height: auto;
            margin: 1% 1% 0;
            width: 48% !important;
            position: relative;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2),
              0 10px 7px rgba(0, 0, 0, 0.1);
            .gallery_video {
              width: 100% !important;
              position: absolute;
              height: 100% !important;
              overflow: hidden !important;
              video {
                height: 105% !important;
                object-fit: cover !important;
                object-position: center;
                width: 105% !important;
              }
            }
          }
        }
      }
    }
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2018-8-10 13:8:54
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-fwd-center
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

#lightboxBackdrop {
  figcaption {
    color: white;
    // text-align: center;
    margin: 10px 0;
    font-size: 1.1rem;
    // font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .footerCount_lkhc9u {
    letter-spacing: 3px;
    font-weight: 400;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-family: N-Light !important;
    // margin: 0;
    // width: 100% !important;
    // text-align: center !important;
    color: #fff;
    line-height: 2;
    position: absolute;
    right: -75px;
    transform: rotate(90deg);
    bottom: 75px;
  }
  .arrow_b9bbag-o_O-arrow__direction__left_shhpn5-o_O-arrow__size__medium_9f7hgo,
  .arrow_b9bbag-o_O-arrow__direction__right_174p6a9-o_O-arrow__size__medium_9f7hgo {
    width: 40px;
  }
  .arrow_b9bbag-o_O-arrow__direction__left_shhpn5-o_O-arrow__size__medium_9f7hgo {
    left: 20% !important;
  }
  .arrow_b9bbag-o_O-arrow__direction__right_174p6a9-o_O-arrow__size__medium_9f7hgo {
    right: 20% !important;
  }
  .close_1x3s325 {
    vertical-align: bottom;
    background: none;
    cursor: pointer;
    outline: none;
    position: relative;
    top: -20px !important;
    border: none;
    z-index: 1;
    height: 40px;
    margin-right: -10px;
    padding: 10px;
    width: 40px;
    fill: white;
  }
}
