@import './sass/global';
@import './components/home/home';
@import './components/leftNav/ln';
@import './components/menuLink/index';
@import './components/footer/index';
@import './components/rightNav/rn';
@import './components/rightNav/rn';
@import './components/hoverLink/index';
@import './components/cinderblock/cinderblock';
@import './components/grid/portfolioGrid/grid';
@import './components/portfolioCardFooter/index';
@import './components/portfolio/portfolio';
@import './components/aboutUs/index';
@import './components/portfolioCard/portfolioCard';
@import './components/portfolioSideBar/index';
@import './components/gallery/gallery';
@import './components/processCard/processCard';
@import './components/processCardPreview/index';
@import './components/processCard/processCardGrid/fiveRows/five-rows';
@import './components/processCard/processCardGrid/fourRows/four-rows';


.App {
  padding: 0 10% 0;
}

.process_page {
  height: 100vh;
}
.process_page .grid {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: auto !important;
  padding: 4rem 4rem 15rem 4rem;

}

// LOADERS

// CINDERBLOCK
.cinder {
  transition: all 0.4s ease-in-out;
}
// UTILITY CLASSES
.add_fill {
  fill: #000;
}
