@import "./sass/global";
@import "./pages/home/home";
@import "./pages/gallery/gallery";
@import "./components/leftNav/ln";
@import "./components/menuLink/index";
@import "./components/footer/index";
@import "./components/rightNav/rn";
@import "./components/hoverLinkIcon/index";
@import "./components/leftNav/mobileMenu/index";
@import "./components/cinderblock/cinderblock";
@import "./components/grid/portfolioGrid/grid";
@import "./components/portfolioCardFooter/index";
@import "./components/portfolio/portfolio";
@import "./components/aboutUs/index";
@import "./components/portfolioCard/portfolioCard";
@import "./components/portfolioCardHorizontal/index";
@import "./components/portfolioCardVertical/index";
@import "./components/portfolioSideBar/index";
@import "./components/processCard/processCard";
@import "./components/viewProcessButton/index";
@import "./components/processCardPreview/index";
@import "./components/processCard/processCardGrid/fiveRows/five-rows";
@import "./components/processCard/processCardGrid/fourRows/four-rows";

body {
  // transition: all 0.4s ease-in-out;
  position: relative;
  &:after {
    position: fixed;
    transition: transform 0.2s ease-in-out, opacity 0.8s ease-in-out;
    transform: translateX(-100%);
    opacity: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    content: "";
    z-index: 200;
    filter: blur(1px);
  }
  &.mobile_sidebar_open {
    &:after {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

.App {
  padding: 0 10% 0;
  @include mq($phone-wide) {
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}

.process_page {
  height: 100vh;
}
.process_page .grid {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: auto !important;
  padding: 4rem 4rem 15rem 4rem;

  @include mq($tablet-wide) {
    padding: 4rem 2rem 15rem 2rem;
  }

  // MEDIA QUERIES
  // $phone--xs-small: 320px;
  // $phone-small: 375px;
  // $phone: 400px;
  // $phone-wide: 480px;
  @include mq($tablet) {
    padding: 1rem 1rem 0rem 1rem;
  }
}

// LOADERS

// CINDERBLOCK
.cinder {
  transition: all 0.4s ease-in-out;
}
// UTILITY CLASSES
.add_fill {
  fill: #000;
}

#lightboxBackdrop {
  .header_1tk9zku {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px;
  }
  figcaption {
    color: white;
    // text-align: center;
    margin: 10px 0;
    font-size: 1.1rem;
    // font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 2px;
    @include mq($phone-wide) {
      font-size: 0.8rem;
    }
  }
  .image_1swebtw-o_O-imageLoaded_zgbg08 {
    width: calc(100% - 2px);
    height: calc(100% - 2px) !important;
    object-fit: none;
  }

  .footerCount_lkhc9u {
    letter-spacing: 3px;
    font-weight: 400;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-family: N-Light !important;
    color: #fff;
    line-height: 2;
    position: fixed;
    /* right: -75px; */
    /* -webkit-transform: rotate(90deg); */
    -ms-transform: rotate(90deg);
    /* transform: rotate(90deg); */
    top: 20px;
    right: 100px;
    padding: 0;
  }
  .arrow_b9bbag-o_O-arrow__direction__left_shhpn5-o_O-arrow__size__medium_9f7hgo,
  .arrow_b9bbag-o_O-arrow__direction__right_174p6a9-o_O-arrow__size__medium_9f7hgo {
    width: 40px;
  }
  .arrow_b9bbag-o_O-arrow__direction__left_shhpn5-o_O-arrow__size__medium_9f7hgo {
    left: 20% !important;
    @include mq($phone-wide) {
      left: 0 !important;
    }
  }
  .arrow_b9bbag-o_O-arrow__direction__right_174p6a9-o_O-arrow__size__medium_9f7hgo {
    right: 20% !important;
    @include mq($phone-wide) {
      right: 0 !important;
    }
  }
  .close_1x3s325 {
    vertical-align: bottom;
    background: none;
    cursor: pointer;
    outline: none;
    position: relative;
    top: -20px !important;
    border: none;
    z-index: 1;
    height: 40px;
    margin-right: -10px;
    padding: 10px;
    width: 40px;
    fill: white;
  }
  .content_13hv8io {
    @include mq($tablet) {
      position: relative !important;
      width: 80%;
      margin: auto;
    }
  }
}
