@import "../../sass/variables";

main.portfolio.component.portfolio_component {
  height: 100%;

  section.wrapper {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    -webkit-transition: background-image 500ms ease-in-out;
    transition: background-image 500ms ease-in-out;
    position: relative;

    .wrapper_inner {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;

      .about_us_video {
        padding: 20px;
        width: 50% !important;
        height: 100%;
      }

      img {
        object-fit: cover;
        object-position: center;
        height: 100%;
        width: 100%;
      }

      &.portrait {
        img {
          object-fit: contain;
          object-position: left;
          margin-left: 4em;
          padding: 10px;
        }
      }
    }
  }
  .arrows {
    button {
      outline: none;
      border: none;
      background: transparent;
      svg {
        @include mq($phone-wide) {
          height: 3.4vh;
        }
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
