$c-base: #444;
$c-dark: #111;
// $c-primary: #6fd1bd;
$c-primary: #f6e6cf;
$c-secondary: #7E9191;
// $c-secondary: #646464;
$b-fontSize: 1.6rem;
$b-lineHeight: 1.5;
$b-animType: ease-in-out;
$b-animSpeed: 0.2s;
// $b-shadowSize: 4px;
$b-shadowSize: 2px;

$Title-color: $c-dark;

main.portfolio.component.portfolio_component {
  height: 100%;
  -webkit-animation: fadeAllIn 2s;
  animation: fadeAllIn 2s;


  .about_us {
    // width: 80%;
    margin: auto;
    display: block;
    padding: 3rem 2rem;
    @media only screen and (max-width: 1180px)  {
      padding: 2rem 0rem;
    }
 
    h4 {
      position: relative;
      z-index: 2;
      margin: 20px 0;
      font-size: 1.2rem;
      color: rgb(92, 90, 90);
      text-align: center;
      line-height: 1.5;
      padding: 0 30px;
      font-weight: bolder;
      text-transform: uppercase;
      text-shadow: 1px 1px 0 $c-primary;
      transition: text-shadow $b-animSpeed $b-animType;

      @media only screen and (max-width: 1180px)  {
        padding: 0 40px;
        margin: 0;
      }

      span {
        &:hover {
          text-shadow: (-$b-shadowSize) (-$b-shadowSize) 0 $c-secondary;
        }
      }
    }
    .text {
      margin: 3rem auto 0;
      position: relative;

      @media only screen and (max-width: 1180px)  {
        margin: 3rem auto 0;
      }

      p {
        // margin-top: 20px;
        font-size: .9rem;
        line-height: 1.7;
        width: 100%;
        padding: 0 20px;
        text-align: justify;
        font-weight: 300;
      }
    }
  }


  section.wrapper {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    -webkit-transition: background-image 500ms ease-in-out;
    transition: background-image 500ms ease-in-out;
    position: relative;

    .wrapper_inner {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;

      .about_us_video {
        padding: 20px;
        width: 50% !important;
        height: 100%;
      }

      img {
        object-fit: cover;
        object-position: center;
        height: 100%;
        width: 100%;
      }

      &.portrait {
        img {
          object-fit: contain;
          object-position: left;
					 margin-left: 4em;
					 padding: 10px;
        }
      }
    }
  }
  .arrows {
    button {
      outline: none;
      border: none;
      background: transparent;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
