@import "../../sass/variables";

.gallery.component.gallery_component {
  -webkit-animation: fadeAllIn 2s;
  animation: fadeAllIn 2s;

  section.wrapper {
    width: 85%;
    margin: auto;
    height: 100%;

    position: relative;

    .thumb__scroller {
      padding: 50px 0 100px !important;
      height: 100%;
      clear: both;
      overflow: scroll;

      @include mq($phone-wide) {
        padding: 150px 0 100px !important;
      }

      .grid__item__thumb {
        height: 200px;
        width: 23%;
        margin: 1%;
        float: left;
        position: relative;
        overflow: hidden;

        @include mq($tablet) {
          margin: 3% 1% 1%;
        }
        @include mq($phone-wide) {
          width: 48%;
        }

        img {
          object-fit: cover;
          height: 100%;
          width: 100%;
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2),
            0 10px 7px rgba(0, 0, 0, 0.1);
        }

        &.venture_thumb {
          background: #fff;
          img {
            padding: 20px;
            object-fit: contain !important;
          }
        }

        @include mq($desktop-wide) {
          // max-height: 200px;
          // height: 100%;
          // max-width: 200px;
          // width: 100%;
        }
        @include mq($desktop) {
        }
        @include mq($tablet-wide) {
        }
        @include mq($tablet-small) {
        }
        @include mq($tablet) {
        }
        @include mq($phablet) {
        }
        @include mq($phone-wide) {
        }

        @include mq($phone) {
        }

        .overlay__inner_container {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background: rgba(0, 0, 0, 0.5);
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-content: center;
          transition: all 0.4s ease-in-out;
          opacity: 0;

          .inner {
            padding: 20px;

            h3 {
              color: white;
              text-align: center;
              margin: 20px 0 10px;
              font-size: 0.8rem;
              @include font-secondary-reg;
              text-transform: uppercase;
              letter-spacing: 2px;

              @include mq($tablet-wide-2) {
                font-size: 0.6rem;
              }
            }
            p {
              // font-size: 0.8rem;
              line-height: 1.2;
              @include font-secondary;
              -webkit-transition: all 0.4s ease-in-out;
              -o-transition: all 0.4s ease-in-out;
              transition: all 0.4s ease-in-out;

              letter-spacing: 1px;
              text-align: center;
              color: #fff;
            }
          }
        }

        &:hover {
          .overlay__inner_container {
            -webkit-animation: slide-in-fwd-center 0.4s
              cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
            animation: slide-in-fwd-center 0.4s
              cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          }
        }

        .gallery_video {
          width: 100% !important;
          height: 100% !important;
          overflow: hidden !important;

          video {
            // box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 10px 7px rgba(0, 0, 0, 0.1);
            object-fit: cover !important;
            object-position: center !important;
            height: 100%;
            width: 100%;
          }
        }

        &.landscape {
          height: auto !important;
          min-height: 0;
          background: transparent;
        }

        &.video_thumb:not(.img_thumb) {
          &:first-of-type {
            min-height: 411px;

            height: auto;
            margin: 1% 1% 0;
            width: 48% !important;
            position: relative;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2),
              0 10px 7px rgba(0, 0, 0, 0.1);
            @include mq($tablet) {
              min-height: 0px;
              height: 300px;
              width: 100% !important;
              margin: 1% 1% 1%;
            }
            .gallery_video {
              width: 100% !important;
              position: absolute;
              height: 100% !important;
              overflow: hidden !important;
              video {
                height: 105% !important;
                object-fit: cover !important;
                object-position: center;
                width: 105% !important;
              }
            }
          }
        }
      }
    }
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2018-8-10 13:8:54
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-fwd-center
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
