.fullscreen_video__modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 2999;
  background: rgba(255, 255, 255, 0.9);

  .fullscreen_video__close {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
  }
  .fullscreen_video {
    height: 100%;
    width: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    video {
      position: relative;
    }
  }
}
