@import '../../sass/variables';

.portfolio_card {
  position: relative;
  display: flex;
  background: #fff;
  flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  box-sizing: border-box;
  box-shadow: -2px 2px 10px 0px rgba(68, 68, 68, 0.4);
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  overflow: hidden;
  justify-content: space-evenly;
  width: 95%;
  margin: auto;
  max-height: 95vh;

  @include mq($phone-wide) {
    max-height: 85vh;
    width: 75%;
  }

  .inner {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-evenly;
    


    &:after {
      content: '';
      right: 25px;
      top: 20px;
      position: absolute;
      width: 1.5px;
      height: 92%;
      background: #000;
      @include mq($phone-wide) {
      display: none;
      }
    }

    h3 {
      font-size: 1rem;
      margin: 0 0 0.5rem;
      text-align: right;
      width: max-content;
      @include mq($desktop) {
        font-size: .8rem;
        margin: 0 0 0.4rem;
      }
      @include mq($phone-wide) {
        text-align: right;
        font-size: .7rem;
        width: 100%;
        }
    }

    .img_cont {
      height: 300px;
      position: relative;
      @include mq($desktop) {
        height: 250px;
      }
      .img_inner {
        height: 100%;

        img {
          object-fit: cover;
          height: 100%;
          width: 100%;

          &.is_venture {
            object-fit: contain;
          }
        }
        &.img_logos {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          flex-direction: column;

          img {
            width: 100%;
            height: 70%;
            object-fit: cover;
            object-position: center;
          }

          .logos {
            width: 100%;
            height: 30%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            img {
              height: 100%;
              width: 33.333%;
              object-fit: scale-down;
              &:nth-of-type(1) {
                padding: 40px;
              }
              &:nth-of-type(2) {
              }
              &:nth-of-type(3) {
                padding: 40px;
              }
            }
          }
        }
      }
    }
  .content {
    position: relative;
    z-index: 10;
    .sub_title {
      h4 {
        margin: 1rem 0 0.4rem;
        font-size: .7rem;
        color: black;
        font-weight: bolder;
        text-transform: uppercase;
        text-shadow: $b-shadowSize $b-shadowSize 0 $c-primary;
        transition: text-shadow $b-animSpeed $b-animType;

        @include mq($desktop) {
          margin: .5rem 0 0.1rem;
          font-size: .6rem;
        }
        @include mq($phone-wide) {
          font-size: .45rem;
          }
      }
    }

    .text {
      p {
          @include mq($desktop) {
            font-size: .4rem;
          }
          @include mq($phone-wide) {
            display: none;
          }
      }
    }
  }
  


    &.horizontal__inner {
      padding: 1.1rem 2rem 0 2rem;
      @include mq($desktop) {
        padding: .8rem 2rem 0 1.5rem;
      }
      @include mq($phone-wide) {
        padding: .5rem .5rem 0 .5rem;
        align-items: baseline;
      }
    }
  }
  
  &.vertical {
    .vertical__inner:not(.horizontal__inner) {
      align-items: flex-end;
      padding: .8rem 1.5rem 0 1.5rem;
      @include mq($desktop) {
        padding: .8rem 1rem 0 1rem;
      }
      h3 {
        padding-right: .25rem;
        width: max-content;
        @include mq($desktop) {
        //  padding-right: .25rem;
        //  width: max-content;
        }
      }
      .inner_columns {
        display: flex;
        flex-direction: row;
        height: 100%;
        .img_cont, .content {
          width: 50%;
        }
        .content {
          padding-left: 20px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          overflow: scroll;

          // @include mq($desktop) {
          //   padding: 60px 20px 20px 20px;
          // }

          .sub_title {
            @include mq($desktop) {
              margin-bottom: 5px;
            }
          }
        }
        .img_cont {
          height: auto;
          /* max-height: 85vh; */
          position: relative;
          display: -ms-flexbox;
          display: flex;
          overflow: hidden;
          -ms-flex-direction: column;
          flex-direction: column;
          -ms-flex-pack: center;
          justify-content: center;
          
          @include mq($desktop) {
            // margin-top: 0;
            // height: auto;
          }
          .img_inner {
            height: 100%;
            img {
              object-fit: cover;
              height: 100%;
              width: 100%;
  
              &.is_venture {
                object-fit: contain;
              }
            }
          }
        }
      }
    }
  }
} 
