@import "../../sass/variables";

.portfolio_card {
  position: relative;
  display: flex;
  background: #fff;
  flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  box-sizing: border-box;
  box-shadow: -2px 2px 10px 0px rgba(68, 68, 68, 0.4);
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  overflow: hidden;
  justify-content: space-between;
  width: 95%;
  margin: auto;
  height: -webkit-fill-available;

  @include mq($tablet) {
    // max-height: 85vh;
    width: 75%;
  }

  h3 {
    font-size: 1rem;
    margin: 0 0 0.5rem;
    text-align: right;
    width: max-content;
    @include mq($desktop) {
      font-size: 0.8rem;
      margin: 0 0 0.4rem;
    }
    @include mq($tablet) {
      text-align: right;
      font-size: 0.7rem;
      width: 100%;
    }
  }

  .img_cont {
    height: 300px;
    position: relative;
    width: 100%;
    @include mq($desktop) {
      height: 250px;
    }
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;

      &.is_venture {
        object-fit: contain;
      }
    }
    &.img_logos {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      flex-direction: column;

      img {
        width: 100%;
        height: 70%;
        object-fit: cover;
        object-position: center;
      }

      .logos {
        width: 100%;
        height: 30%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        img {
          height: 100%;
          width: 33.333%;
          object-fit: scale-down;
          &:nth-of-type(1) {
            padding: 34px;
          }
          &:nth-of-type(2) {
          }
          &:nth-of-type(3) {
            padding: 34px;
          }
        }
      }
    }
  }

  .content {
    position: relative;
    z-index: 10;
    .content {
      @include mq($tablet) {
        width: 100%;
        display: flex;
      }
    }
    .sub_title {
      h4 {
        margin: 1rem 0 0.4rem;
        font-size: 0.7rem;
        color: black;
        font-weight: bolder;
        text-transform: uppercase;
        text-shadow: $b-shadowSize $b-shadowSize 0 $c-primary;
        transition: text-shadow $b-animSpeed $b-animType;

        @include mq($desktop) {
          margin: 0.5rem 0 0.1rem;
          font-size: 0.6rem;
        }
        @include mq($tablet) {
          font-size: 0.45rem;
        }
      }
    }

    .text {
      p {
        @include mq($desktop) {
          font-size: 0.4rem;
        }
        @include mq($tablet) {
          display: none;
        }
      }
    }
  }
}
