@import "../../sass/variables";

.portfolio_card {
  position: relative;
  display: flex;
  background: #fff;
  flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  box-sizing: border-box;
  box-shadow: -2px 2px 10px 0px rgba(68, 68, 68, 0.4);
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  overflow: hidden;
  justify-content: space-between;
  width: 95%;
  margin: auto;
  height: -webkit-fill-available;

  @include mq($tablet) {
    height: 80vh;
    width: 80%;
  }
  @include mq($phone-wide) {
    height: 70vh;
    margin-top: 15vh;
    width: 100%;
  }

  .content {
    position: relative;
    z-index: 10;
    @include mq($tablet) {
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 0 20px;
    }
    h4 {
      margin: 1rem 0 0.4rem;
      font-size: 0.7rem;
      color: black;
      font-weight: bolder;
      text-transform: uppercase;
      text-shadow: $b-shadowSize $b-shadowSize 0 $c-primary;
      transition: text-shadow $b-animSpeed $b-animType;

      // @include mq($desktop) {
      //   margin: 0.5rem 0 0.1rem;
      //   font-size: 0.6rem;
      // }
      // @include mq($tablet) {
      //   font-size: 0.75rem;
      //   margin: 1.25rem 0 0.1rem;
      // }
      // @include mq($phone-wide) {
      //   font-size: 0.5rem;
      //   margin: 0;
      //   display: none;
      // }
    }
    .text {
      @include mq($tablet-wide-2) {
        margin-top: 10px;
      }
      h4.process_button__property-address {
        @include mq($phone-wide) {
          font-size: 0.7rem;
          font-weight: bolder;
          line-height: 1.75;
          text-align: center;
          display: block;
          text-transform: uppercase;
          text-shadow: $b-shadowSize $b-shadowSize 0 $c-primary;
          transition: text-shadow $b-animSpeed $b-animType;
        }
      }
      p {
        @include minMq($desktop-up) {
          font-size: 0.55rem;
        }

        @include mq($desktop) {
          font-size: 0.4rem;
        }
        @include mq($tablet-wide-2) {
          font-size: 0.35rem;
        }
        @include mq($tablet-wide) {
        }

        @include mq($tablet) {
          display: none;
        }
      }
    }
  }

  .card_arrow_down {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
