@import "../../../sass/variables";
.grid.portfolio_grid {
  padding: 0 3rem;
  display: flex;
  height: 100%;
  overflow: hidden;
  // @include mq($phone) {

  // }
  // @include mq($phone-wide) {

  // }
  // @include mq($phablet) {

  // }
  // @include mq($tablet-small) {

  // }
  // @include mq($tablet) {

  // }
  @include mq($tablet-wide) {
    padding: 0 1rem;
  }
  @include mq($tablet-wide-2) {
    padding: 0 1rem;
  }
  @include mq($phone-wide) {
    padding: 0 0.25rem;
  }
  // @include mq($phone-wide) {
  //   width: 20vw;
  // }

  // @include mq($macbook-air) {

  // }
  // @include mq($desktop) {

  // }
  // @include mq($desktop-wide) {

  // }
}
