@import "../../sass/variables";
.horizontal__inner {
  padding: 0.75rem 2rem 0 2rem;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 90vmin;
  position: relative;
  z-index: 10;
  display: flex;

  @include mq($desktop) {
    padding: 0.8rem 2rem 0 1.5rem;
  }
  @include mq($tablet-wide) {
    padding: 0rem 2rem 0 1rem;
  }
  @include mq($tablet-wide-2) {
    // padding: 0.5rem 2rem 0 1rem;
    height: 120vmin;
  }

  @include mq($tablet) {
    padding: 0.8rem 2rem 0 1.5rem;
  }
  @include mq($phone-wide) {
    height: 110vmin;
    padding: 0rem 1.2rem 0 0.8rem;
    justify-content: space-evenly;
  }
  @include mq($phone-small) {
    height: 140vmin;
  }

  &:after {
    content: "";
    right: 1.25rem;
    top: 10%;
    position: absolute;
    width: 1.5px;
    height: 90%;
    background: #000;
    @include mq($tablet-wide) {
      right: 30px;
    }
    @include mq($tablet) {
      // display: none;
    }
    @include mq($phone-wide) {
      right: 20px;
      top: 15%;
      height: 91%;
    }
  }

  &.mcCallister_management {
    background-size: cover;
    background-position: 200% 200%;
    background-repeat: no-repeat;
    @include mq($tablet-wide) {
      background-size: cover;
      background-position: top;
      background-repeat: no-repeat;
    }

    @include mq($tablet) {
      background-position: center;
    }
  }

  h3 {
    font-size: 1rem;
    margin: 0 0 0.5rem;
    text-align: right;
    position: relative;
    @include font-secondary-reg;

    @include mq($desktop) {
      font-size: 0.8rem;
      margin: 0 0 0.4rem;
    }
    @include mq($tablet-wide-2) {
      width: 100%;
    }
    @include mq($tablet-wide) {
    }
    @include mq($tablet) {
      text-align: center;
      padding-bottom: 20px;
      font-size: 0.9rem;
      width: 100%;
    }
    @include mq($phone-wide) {
      font-size: 0.7rem;
      margin: 0;
      // padding-bottom: 5px;
    }
  }
  .content {
    @include mq($tablet) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      align-items: center;
    }
    h4 {
      margin: 1rem 0 0.4rem;
      font-size: 0.8rem;
      color: black;
      @include font-secondary-reg;
      text-transform: uppercase;
      text-shadow: $b-shadowSize $b-shadowSize 0 $c-primary;

      @include minMq($desktop-up) {
        font-size: 3vmin;
      }

      @include mq($desktop) {
        margin: 0.55rem 0 0.45rem;
      }
      @include mq($tablet-wide-2) {
        font-size: 0.7rem;
      }
      @include mq($tablet-wide) {
        // font-size: 0.55rem;
        margin: 0.5rem 0 0.25rem !important;
      }
      @include mq($tablet) {
        font-size: 0.6rem;
        margin: 0.5rem 0 0.5rem !important;
        text-align: center;
      }
      @include mq($phone-wide) {
        font-size: 0.7rem;
        margin: 0 !important;
      }
    }
    p {
      @include font-secondary;
      font-size: 2vmin;

      @include minMq($desktop-up) {
        font-size: 1.8vmin;
      }

      @include mq($desktop) {
        font-size: 1.65vmin;
        margin-top: 0;
      }
      @include mq($tablet-wide) {
        font-size: 1.85vmin;
      }

      @include mq($tablet-wide-2) {
        // font-size: 1.5vmin;
        margin-top: 0;
      }

      @include mq($tablet) {
        display: none;
      }
    }
  }
  .img_cont {
    height: 42vmin;
    position: relative;
    width: 100%;
    @include minMq($desktop-up) {
      // height: 350px;
    }
    @include mq($desktop-wide-2) {
      // height: 350px;
    }
    @include mq($desktop-wide) {
      // height: 250px;
    }
    @include mq($desktop) {
      height: 40vmin;
    }
    @include mq($tablet-wide) {
      height: 60vmin;
    }
    @include mq($tablet-wide-2) {
      height: 40vmin;
    }

    @include mq($tablet) {
      // height: 50vh;
    }
    @include mq($phone-wide) {
      // height: 200px;
      height: 50vmin;
      // width: 100%;
    }

    @include mq($phone-small) {
      height: 60vmin;
    }
    @include mq($phone--xs-small) {
      height: 70vmin;
    }

    // &.is_highpoint_venture {
    //   @include minMq($desktop-up) {
    //     height: 400px;
    //   }
    //   @include mq($desktop-wide-2) {
    //     height: 300px;
    //   }
    //   @include mq($macbook-air) {
    //     height: 250px;
    //   }
    //   @include mq($tablet-wide-2) {
    //     height: 200px;
    //   }
    // }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      @include mq($tablet) {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
      @include mq($phone-wide) {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }

      &.is_venture {
        object-fit: contain;
      }
    }
    .logos {
      width: 100%;
      // height: 30%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      @include mq($macbook-air) {
        // height: 22%;
      }
      @include mq($tablet) {
        display: none;
      }
      img {
        height: 100px;
        width: 33.333%;
        -o-object-fit: scale-down;
        object-fit: scale-down;
        // &:nth-of-type(1) {
        //   padding: 34px 38px 20px;
        //   @include mq($desktop-wide) {
        //     padding: 44px 38px 20px;
        //   }
        // }
        // &:nth-of-type(3) {
        //   padding: 20px 20px 0;
        //   @include mq($desktop-wide) {
        //     padding: 30px 20px 0;
        //   }
        // }

        // @include mq($tablet-wide-2) {
        //   &:nth-of-type(1),
        //   &:nth-of-type(3) {
        //     padding: 20px;
        //   }
        // }
      }
    }
  }

  &.isNotAProcessItem {
    .content {
      justify-content: center;
      h4 {
        @include mq($tablet) {
          display: block;
        }
        @include mq($phone-wide) {
          margin: 20px 0 0;
        }
      }
      .subtitle {
        @include mq($tablet) {
          display: block;
        }
      }
    }
    .img_cont {
      height: 42vmin;
      @include minMq($desktop-up) {
        height: 42vmin;
      }
      @include mq($desktop-wide-2) {
        // height: 350px;
      }
      @include mq($desktop) {
        // height: 300px;
        height: 40vmin;
      }
      @include mq($tablet-wide-2) {
        // height: 200px;
      }
      @include mq($tablet) {
        height: 50vh;
      }
      @include mq($phone-wide) {
        height: 45vh;
        width: 100%;
      }
      &.is_highpoint_venture {
        // @include mq($desktop) {
        //   height: 350px;
        // }
        // @include mq($macbook-air) {
        //   // height: 250px;
        // }
        // @include mq($tablet-wide) {
        //   // height: 200px;
        // }
        .logos {
          @include mq($macbook-air) {
            // height: 22%;
          }
        }
      }
    }
    &.is_highpoint_venture {
      justify-content: inherit;
      @include mq($phone-wide) {
        justify-content: space-around;
      }
      .img_cont {
        height: 42vmin;
        // @include mq($desktop-wide-2) {
        //   height: 325px;
        // }
        // @include mq($macbook-air) {
        //   height: 250px;
        // }
        @include mq($desktop) {
          height: 200px;
        }
        @include mq($phone-wide) {
          height: 250px;
        }
        @include mq($desktop) {
          // height: 350px;
        }
        @include mq($macbook-air) {
          // height: 250px;
        }
        @include mq($tablet-wide) {
          // height: 200px;
        }
      }
    }
  }
}

body.isChrome {
  // iPhone 6, 7, & 8 in portrait & landscape
  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
    .portfolio_card {
      top: 20px;
      max-height: 90%;
      width: 100%;
      .horizontal__inner {
        // height: 110vmin;

        h3 {
          padding-bottom: 0;
        }
        h4 {
          font-size: 0.6rem;
        }
        .img_cont {
          img {
            padding: 20px;
          }
        }
        .text {
          // display: none;
        }
      }
    }
  }

  // iPhone 6, 7, & 8 Plus in portrait & landscape
  @media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
    /* STYLES GO HERE */
  }
}
