@import "../../sass/variables";
.horizontal__inner {
  padding: 0.75rem 2rem 0 2rem;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 90%;
  position: relative;
  z-index: 10;
  display: flex;

  @include mq($desktop) {
    padding: 0.8rem 2rem 0 1.5rem;
  }
  @include mq($tablet) {
    // padding: 0.5rem 0.5rem 0 0.5rem;
    padding: 0.5rem 2rem 0 1rem;
    align-items: baseline;
    justify-content: space-evenly;
    height: 93%; // Because the footer only has a height of 7%
  }
  @include mq($phone-wide) {
    height: 90%;
    padding: 0rem 0.85rem 0 0.5rem;
    justify-content: space-evenly;
  }

  &:after {
    content: "";
    right: 1.25rem;
    top: 10%;
    position: absolute;
    width: 1.5px;
    height: 90%;
    background: #000;
    @include mq($tablet) {
      // display: none;
      right: 30px;
    }
    @include mq($phone-wide) {
      right: 15px;
      top: 20%;
      height: 80%;
    }
  }
  h3 {
    font-size: 1rem;
    margin: 0 0 0.5rem;
    text-align: right;

    @include mq($desktop) {
      font-size: 0.8rem;
      margin: 0 0 0.4rem;
    }
    @include mq($tablet) {
      font-size: 1.25rem;
      width: 100%;
    }
    @include mq($phone-wide) {
      font-size: 0.7rem;
      margin: 0;
    }
  }
  .img_cont {
    height: 300px;
    position: relative;
    width: 100%;
    @include mq($desktop) {
      height: 250px;
    }
    @include mq($tablet) {
      height: 50vh;
    }
    @include mq($phone-wide) {
      height: 200px;
      width: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      @include mq($tablet) {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
      @include mq($phone-wide) {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }

      &.is_venture {
        object-fit: contain;
      }
    }
    .logos {
      width: 100%;
      height: 30%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      img {
        height: 100%;
        width: 33.333%;
        object-fit: scale-down;
        &:nth-of-type(1) {
          padding: 34px;
        }
        &:nth-of-type(2) {
        }
        &:nth-of-type(3) {
          padding: 34px;
        }
      }
    }
  }
}
