#sidebar_menu {
  background: #fff;

  right: 0!important;
  // bottom: 15vh !important;

  top: 85vh!important;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 70vh !important;
  width: 10vw!important;
  left: auto!important;
  border-top: 2px solid black;

   @include mq($phone-wide) {
      width: 20vw!important;
    }

  ul {
    @include column-flex-evenly;
    padding: 20px;
    @include mq($tablet-wide-2) {
      padding: 0;
    }
    .menu_link.sidebar_link {
      cursor: pointer;
      @include mq($tablet-wide-2) {
        font-size: .35rem;
        padding: 5px;
      }
    }

  }
    
  }