@import "../../sass/variables";

.vertical:not(.horizontal) {
  h3 {
    font-size: 1rem;
    margin: 0.5rem 0 0;
    text-align: right;
    width: 100%;
    padding-right: 1.5rem;

    @include mq($desktop) {
      font-size: 0.8rem;
      // margin: 0 0 0.4rem;
    }
    @include mq($tablet) {
      text-align: right;
      font-size: 0.7rem;
      width: 100%;
    }
  }
  .vertical__inner:not(.horizontal__inner) {
    width: 100%;
    height: 90%;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: flex-end;
    // padding: 0rem 1.5rem 0 1.5rem; --> old styles
    padding: 0rem 2rem 0 1rem;
    // padding: .75rem 2rem 0 2rem;
    @include mq($desktop) {
      // padding: 0rem 1rem 0 1rem;  --> old styles
      // padding: 0rem 1rem 0 1.5rem;
    }
    @include mq($tablet) {
      height: 93%; // Because the footer only has a height of 7%
    }

    &:after {
      content: "";
      right: 1.25rem;
      top: 5%;
      position: absolute;
      width: 1.5px;
      height: 95%;

      background: #000;
      @include mq($tablet-wide-2) {
        right: 1rem;
      }

      @include mq($tablet) {
        display: none;
      }
    }
    .inner_columns {
      display: flex;
      flex-direction: row;
      height: 100%;
      .img_cont,
      .content {
        width: 50%;
      }
      .content {
        padding: 0 0 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        @include mq($tablet-wide) {
          justify-content: space-evenly;
        }

        h4.process_button__property-address {
          @include mq($phone-wide) {
            font-size: 0.7rem;
            font-weight: bolder;
            line-height: 1.75;
            text-align: center;
            text-transform: uppercase;
            text-shadow: $b-shadowSize $b-shadowSize 0 $c-primary;
            transition: text-shadow $b-animSpeed $b-animType;
          }
        }
        p {
          @include minMq($desktop-up) {
            font-size: 0.55rem;
          }
          @include mq($desktop) {
            font-size: 0.4rem;
          }
          @include mq($tablet-wide-2) {
            font-size: 0.35rem;
            max-height: 300px;
            overflow: hidden;
          }
          @include mq($tablet-wide) {
          }

          @include mq($tablet) {
            display: none;
          }
        }
        h4 {
          @include minMq($desktop-up) {
            font-size: 0.8rem;
            margin: 0.5rem 0 1rem;
          }
          @include mq($desktop) {
            margin: 0.5rem 0 1rem;
          }
        }
      }
      .img_cont {
        height: auto;
        /* max-height: 85vh; */
        position: relative;
        display: -ms-flexbox;
        display: flex;
        overflow: hidden;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: center;
        justify-content: center;

        @include mq($desktop) {
          // margin-top: 0;
          // height: auto;
        }
        @include mq($tablet-wide-2) {
          height: 200px;
        }
        .img_inner {
          height: 100%;
        }
        img {
          object-fit: cover;
          height: 100%;
          width: 100%;

          &.is_venture {
            object-fit: contain;
          }
        }
        .logos {
          width: 100%;
          height: 30%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          img {
            height: 100%;
            width: 33.333%;
            object-fit: scale-down;
            &:nth-of-type(1) {
              padding: 34px;
            }
            &:nth-of-type(2) {
            }
            &:nth-of-type(3) {
              padding: 34px;
            }
          }
        }
      }
    }
  }
}
